.form-group.d-inline-block.col-sm-10.col-lg-5
  label(for="category") Category
  select.form-control(name="category" required)
    optgroup(label="취미")
      option 게임
      option 공작
      option 노래
      option 독서
      option 기타
    optgroup(label="운동")
      option 자전거
      option 등산
      option 수영
      option 조깅
      option 암벽등반
      option 기타
.form-group.d-inline-block.col-sm-10.col-lg-2
  label(for="isfee")
  .form-check.form-check-inline
    label.form-check-label
      input.form-check-input(type="radio" name="isfee" id="FREE" value="0" checked)
      | 무료
  .form-check.form-check-inline
    label.form-check-label
      input.form-check-input(type="radio" name="isfee" id="CHARGE" value="1")
      | 유료
.form-group.d-inline-block.col-sm-10.col-lg-4#FEE
.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="What's your Event?", value=event.title required)
.form-group
  label(for="location") Location
  input.form-control(type="text", name="location", placeholder="Where's the event hold?", value=event.location required)
.form-group
  label(for="content") Description
  textarea.form-control(name="content", rows="5")= event.content
.form-group.d-inline-block.col-sm-10.col-lg-5
  label(for="startOn") Start
  .input-group.input-append.date
    input.form-control#startDate(type='text' name="startOn" required)
    span.input-group-addon
      i.oi.oi-calendar
.form-group.d-inline-block.col-sm-10.col-lg-5
  label(for="endOn") End
  .input-group.input-append.date
    input.form-control#endDate(type='text' name="endOn" required)
    span.input-group-addon
      i.oi.oi-calendar
.form-group
  label(for="partyName") The Party's Name
  input.form-control(type="text", name="partyName", placeholder="What is the party's name?", value=event.partyName required)
.form-group
  label(for="partyDescription") The Party's Description
  textarea.form-control(name="partyDescription", rows="5")= event.partyDescription
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=event.tags ? event.tags.join(" ") : "")
    
script.
  $(function(){
    $('#FREE, #CHARGE').change(function(){
      if($('#CHARGE').is(":checked")){
        $('#FEE').append("<div class='input-group'>");
        $('#FEE .input-group').append("<label for='fee'>가격");
        $('#FEE .input-group').append("<input class='form-control' type='number' name='fee' min='0.00' required/>");
        $('#FEE .input-group').append("<span class='input-group-addon'><span class='oi oi-dollar'>");
        $('#FEE .input-group').append("</span></span></div>");
      }else if($('#FREE').is(":checked")){
        $('#FEE *').remove()
      }
    });
  });
