extends ../layout

block content
  .container
    h1.main-title= event.title

    .event.show
      .info
        .d-inline-block.col-sm-10.col-lg-4
          .category
            span
              | 분류 : #{event.category}
          .fee
            span 
            if event.fee == 0
              | 참가비 : 무료
            else
              | 참가비 : #{event.fee}$
        .d-inline-block.col-sm-10.col-lg-4      
          .partyname 
            span
              | 단체명 : #{event.partyName}
          .partydescription
            span
              | 단체 설명 : #{event.partyDescription}
        .d-inline-block.col-sm-10.col-lg-4      
          .startOn
            span
              | 시작일 : #{moment(event.startOn).format('YYYY-MM-DD-dddd')}
          .endOn
            span
              | 종료일 : #{moment(event.endOn).format('YYYY-MM-DD-dddd')}
        .d-inline-block.col-sm-10.col-lg-4      
          .location
            span
              | 위치 : #{event.location}
      include _event

      .buttons
        if currentUser
          if currentUser.id != event.author.id
            if !isParticipated
              button.btn.btn-primary.event-participate-btn(data-id=event.id) 
                span #[i.fa.fa-thumbs-up] Participate
            else
              button.btn.btn-primary.event-participate-btn(data-id=event.id disabled)
                span #[i.fa.fa-check] Participated
          else 
            | 
            a.btn.btn-outline-secondary(href=`/events/${event.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/events/${event.id}?_method=delete`) Delete
      
    if event.numAnswers > 0
      hr
      h3 #{event.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/events/${event.id}/answers`, method='POST')
        .form-group
          label(for='answer') Your Answer
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") Post Your Answer

  script(src='/javascripts/event_client.js')
